html, body {
    margin: 0;
    padding: 0;
    background: #674BB2 url(/images/bg-desktop.svg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Noto Serif TC', serif;
    font-family: 'Poppins', sans-serif; 
}

.padding-x-20 {
    padding: 0 20px;
}

.warp {
    max-width: 1280px;
    margin: 60px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner {
    display: flex;
    justify-content: center;
    color: #FFF;
    margin-top: 100px;
}

.banner_left {
    margin-right: 60px;
}

.banner_left img {
    width: 700px;
}

.banner_right {
    margin-top: 45px;
}

.banner_right h2{
    width: 350px;
    font-size: 2.5em;
    font-weight: 600;
}

.banner_right p {
    border: 1px solid #000;
}

.banner_btn {
    width: 200px;
    height: 60px;
    border-radius: 200px;
    border-style: none;
    box-shadow: 5px 5px 20px #403c4c;
}

.banner_btn:hover {
    color: #fff;
    background-color: #e980e7;
}

.footer {
    display: flex;
    justify-content: end;
}

.footer_contact {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.footer_contact img {
    height: 40px;
    margin-left: 15px;
}

@media screen and (max-width: 1024px) { /*手機版*/
    html, body {
        /* background: #674BB2 url(/images/bg-mobile.svg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: contain; */
        background: #674BB2 url(/images/bg-mobile.svg) fixed no-repeat 0 0 / contain;
    }
    .warp {
        margin: 0 auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .header {
        align-self: flex-start  ;
    }
    .banner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner_left {
        margin-right: 0px;
        width: 100%;
    }
    .banner_right {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner_left img {
        width: 100%;
    }
    .footer{
        justify-content: center;
        margin-top: 50px;
    }
}
