html, body {
    margin: 0;
    padding: 0;
    background: #674BB2 url(./images/bg-desktop.svg) fixed 0 0 / cover;
    font-family: 'Noto Serif TC', serif;
    font-family: 'Poppins', sans-serif; 
}

.padding-x-20 {
    padding: 0 20px;
}

.warp {
    max-width: 1280px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.banner {
    display: flex;
    justify-content: center;
    color: #FFF;
    margin-top: 100px;
    padding: 0 20px;
}

.banner_left {
    margin-right: 60px;
}

.banner_left img {
    width: 700px;
}

.banner_right {
    width: 500px;
}

.banner_right h2{
    font-size: 2.3em;
    font-weight: 600;
}

.banner_right p {
    font-size: 1.5em;
}

.banner_btn {
    padding: 20px 120px;
    border-radius: 200px;
    border-style: none;
    box-shadow: 5px 5px 20px #403c4c;
    font-size: 1.5em;
    margin-top: 1em;
}

.banner_btn:hover {
    color: #fff;
    background-color: #e980e7;
}

.footer {
    display: flex;
    justify-content: end;
}

.footer_contact {
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.footer_contact img {
    height: 40px;
}

@media screen and (max-width: 1024px) { 
    html, body {
        background: #674BB2 url(./images/bg-mobile.svg) fixed no-repeat 0 0 / contain;
    }
    .warp {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .header {
        align-self: flex-start;
        padding: 0 80px;
    }
    .banner {
        padding: 0 80px;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .banner_left {
        margin-right: 0px;
        width: 100%;
    }
    .banner_right {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }
    .banner_left img {
        width: 100%;
    }
    .footer {
        justify-content: center;
        margin-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    .padding-x-20 {
        padding: 0;
    }
    .warp {
        margin: 30px auto;
    }
    .header {
        align-self: center;
        margin-bottom: 40px;
    }
    .banner {
        margin: 0;
    }
    .banner,.banner_right h2 , .banner_right p {
        min-width: 300px;
    }
    .banner_right {
        width: auto;
        margin: 0;
        justify-content: space-around;
    }
    .banner_btn {
        padding: 20px 80px;
    }
}